[submodule "mist-modules"]
	path = mist-modules
	url = https://github.com/mist-devel/mist-modules.git
[submodule "T65"]
	path = T65
	url = https://github.com/mist-devel/T65.git
[submodule "rtl/T65"]
	path = rtl/T65
	url = git@github.com:mist-devel/T65.git
